.header {
    grid-area: h;
    background-color: #2b3844;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 20px;
  }

.login {
    background-color: transparent;
    color: #4E64DD;
    border: 2px solid #4E64DD;
    border-radius: 3px;
    padding: 5px 20px;
    font-size: 16px;
}

.logoutWrap {
    display: flex;
    align-items: center;
}

.logInfo {
    color: rgba(240,243,244,0.5);
    margin-right: 20px;
}

.logImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}